<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Login Page</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <div class="container">
    <div class="login-title">
      <span>Login Here!</span>
    </div>
    <div class="form-container">
      <form action="">
        <div class="form-element">
          <label for="username">Username</label>
          <input type="text" name="" id="username" placeholder="Username" />
        </div>
        <div class="form-element">
          <label for="password">Password</label>
          <input type="password" name="" id="password" placeholder="Password" />
        </div>
        <div class="buttons">
          <button type="submit">Login</button>
          <a href="">Forgot Password?</a>
        </div>
        <div class="errors">Some Errors</div>
      </form>
    </div>
  </div>
</body>
</html>